/* footer style */
.footer {
    background-color: var(--gray);
    margin-top: 2rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
}

.footer__title {
    font-weight: bolder;
}

.footer__link {
    line-height: 1.5rem;
    padding-right: 1.5rem;
    flex-shrink: 0;
}

.footer__link:hover {
    text-decoration: underline;
}

@media all and (min-width: 768px) {

    .footer {
        padding: 2rem 2.5rem 2rem 2.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .footer__menu {
        flex-basis: 33%;
    }
}

@media all and (min-width: 992px) {

    .footer {
        padding: 2rem 3rem 2rem 3rem;
    }
}