/* footer style */
.footer {
    background-color: var(--gray);
    margin-top: 2rem;
    padding: 2rem 3.33vw 2rem 3.33vw;
}

.footer__title {
    font-weight: bolder;
}

.footer__link {
    line-height: 1.5rem;
}

.footer__link:hover {
    text-decoration: underline;
}

@media all and (min-width: 768px) {

    .footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .footer__menu {
        flex-basis: 33%;
    }
}