/* stars */
.star--full-blue {
    color: var(--blue);
}

.star--empty-gray {
    color: var(--gray);
}

/* top lodging results style */
.top-lodging {
    background-color: var(--gray);
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.top-lodging__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.top-lodging__tile {
    background-color: white;
    border-radius: 1.25rem;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    box-shadow: 0 0 0.5rem -0.25rem black;
    display: flex;
    flex-direction: row;
}

.top-lodging__tile-image {
    border-radius: 0.75rem 0 0 0.75rem;
    width: 127px;
    height: 127px;
    margin-right: 1.5rem;
    object-fit: cover;
}

.top-lodging__tile-text {
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-lodging__tile:hover {
    box-shadow: 0 0 2rem -1rem black;
}

/* lodging results style */
.lodging {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.lodging__title {
    margin-bottom: 2rem;
}

.lodging__tile {
    background-color: white;
    border-radius: 1.25rem;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    box-shadow: 0 0 0.5rem -0.25rem black;
}

.lodging__tile-image {
    border-radius: 0.75rem 0.75rem 0 0;
    height: 114px;
    width: 100%;
    object-fit: cover;
}

.lodging__tile-text {
    line-height: 1rem;
    margin-left: 1rem;
}

.lodging__load-more-button {
    font-weight: bolder;
}

.lodging__tile:hover {
    box-shadow: 0 0 2rem -1rem black;
}

.lodging__load-more-button:hover {
    text-decoration: underline;
}

/* activity results style */
.activity {
}

.activity__tiles-flex {
}

.activity__tile--large {
}

.activity__tile-image--large {
}

.activity__tile--small {
}

.activity__tile-image--small {
}

.activity__tile--large:hover{
}

.activity__tile--small:hover{
}

.activity__tile-text {
}