/* stars */
.fa-star {
    display: inline-block;
}

.star--full-blue {
    color: var(--blue);
}

.star--empty-gray {
    color: var(--dark-gray);
}

/* top lodging results style */
.top-lodging {
    background-color: var(--gray);
    padding: 1.5rem 1.25rem 1.5rem 1.25rem;
}

.top-lodging__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.top-lodging__tile {
    background-color: white;
    border-radius: 1.25rem;
    padding: 0.25rem;
    margin: 0 0 1rem 0;
    box-shadow: 0 0 0.5rem -0.25rem black;
    display: flex;
    flex-direction: row;
}

.top-lodging__tile-image {
    border-radius: 1rem 0 0 1rem;
    width: 127px;
    height: 127px;
    margin-right: 1.5rem;
    object-fit: cover;
}

.top-lodging__tile-text {
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-lodging__tile:hover {
    box-shadow: 0 0 2rem -1rem black;
}

@media all and (min-width: 768px) {

    .top-lodging {
        padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    }

    .top-lodging__tile {
        margin: 0 0 2rem 0;
    }
}

@media all and (min-width: 992px) {

    .top-lodging {
        border-radius: 2.5rem;
        min-width: 340px;
        flex-basis: 30vw;
    }

    .top-lodging__tile {
        margin: 0 0 2.5rem 0;
    }
}

/* lodging results style */
.lodging {
    padding: 1.5rem 1.25rem 1.5rem 1.25rem;
}

.lodging__title {
    margin-bottom: 2rem;
}

.lodging__tile {
    background-color: white;
    border-radius: 1.25rem;
    padding: 0.25rem;
    margin: 0 0 1rem 0;
    box-shadow: 0 0 0.5rem -0.25rem black;
}

.lodging__tile-image {
    border-radius: 1rem 1rem 0 0;
    height: 114px;
    width: 100%;
    object-fit: cover;
}

.lodging__tile-text {
    line-height: 1rem;
    margin-left: 1rem;
}

.lodging__load-more-button {
    font-weight: bolder;
    display: inline-block;
    margin-top: 1rem;
}

.lodging__tile:hover {
    box-shadow: 0 0 2rem -1rem black;
}

.lodging__load-more-button:hover {
    text-decoration: underline;
}

@media all and (min-width: 768px) {

    .lodging {
        padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    }

    .lodging__tile {
        margin: 0 0 2rem 0;
    }

    .lodging__tiles-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-right: -2rem;
    }

    .lodging__tile {
        margin: 0 2rem 2rem 0;
        min-width: 180px; /*! tiles width needs to stretch up */
    }

    .lodging__load-more-button {
        margin-top: 0;
    }
}

@media all and (min-width: 992px) {

    .lodging {
        background-color: var(--gray);
        border-radius: 2.5rem;
        margin-right: 2.5rem;
        flex-basis: 70vw;
    }
    
    .lodging__tile {
        min-width: 228px; /*! tiles width needs to stretch up */
    }
}

/* lodging results container */
@media all and (min-width: 992px) {

    .lodging-results {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin: 0 3rem 0 3rem;
    }
}

/* activity results style */
.activity {
    padding: 1.5rem 1.25rem 1.5rem 1.25rem;
}

.activity__title {
    margin-bottom: 2rem;
}

.activity__tile {
    background-color: white;
    border-radius: 1.25rem;
    margin: 0 0 1rem 0;
    box-shadow: 0 0 0.5rem -0.25rem black;
}

.activity__tile-image--large {
    border-radius: 1.25rem 1.25rem 0 0;
    height: 114px;
    width: 100%;
    object-fit: cover;
}

.activity__tile-image--small {
    border-radius: 1.25rem 1.25rem 0 0;
    height: 114px;
    width: 100%;
    object-fit: cover;
}

.activity__tile:hover{
    box-shadow: 0 0 2rem -1rem black;
}

.activity__tile-text { /*! prevent overflow on small desktop */
    background-color: white;
    padding: 0 0 0.5rem 1rem;
    border-radius: 0 0 1.25rem 1.25rem;
}

@media all and (min-width: 768px) {

    .activity {
        padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    }

    .activity__tiles-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-right: -2rem;
    }

    .activity__tile {
        margin: 0 2rem 2rem 0;
        min-width: 180px; /*! tiles width needs to stretch up */
    }
}

@media all and (min-width: 992px) {

    .activity {
        padding: 1.5rem 3rem 1.5rem 3rem; 
    }

    .activity__tiles-flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 225px 225px;
        grid-template-areas: 
            "largeOne smallOne largeTwo smallThree"
            "largeOne smallTwo largeTwo smallFour";
        gap: 2.5rem;
        margin-right: 0;
    }

    .activity__tile {
        margin: 0;
    }

    .activity__tile-image--large {
        border-radius: 1.25rem 1.25rem 0 0;
        height: calc((450px + 2.5rem) - 4rem);
        width: 100%;
        object-fit: cover;
    }

    .activity__tile-image--small {
        border-radius: 1.25rem 1.25rem 0 0;
        height: calc(225px - 4rem);
        width: 100%;
        object-fit: cover;
    }

    .large-1 {
        grid-area: largeOne;
    }

    .large-2 {
        grid-area: largeTwo;
    }

    .small-1 {
        grid-area: smallOne;
    }

    .small-2 {
        grid-area: smallTwo;
    }

    .small-3 {
        grid-area: smallThree;
    }

    .small-4 {
        grid-area: smallFour;
    }
}