@import url("./header.css");
@import url("./results.css");
@import url("./footer.css");

/* CSS variables */
:root {
    --blue: #0065fc;
    --light-blue: #deebff;
    --gray: #f2f2f2;
    --dark-gray: #d9d9d9;
}

/* main style */
* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: white;
    margin: 0;
}

h1, h2 {
    font-size: 1.25rem;
    font-weight: bolder;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

fieldset {
    border: none;
    padding: 0;
}

/* MODEL-ONLY */
.model-active {
    border-color: var(--blue);
    color: var(--blue);
}