/* CSS variables */
:root {
    --blue: #0065fc;
    --light-blue: #deebff;
    --gray: #f2f2f2;
}

/* main style */
body {
    font-family: 'Raleway', sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    margin-top: -1rem;
}

h1, h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

/* header style */
.header {
    padding-bottom: 2.5rem;
}

.header__logo {
    margin-top: 0.5rem;
    height: 4rem;
}

.header__links-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1rem;
}

.header__links-list-item {
    padding-right: 1rem;
    padding-left: 1rem;
    border-top: thin solid white;
}

.header__links-list-item:hover {
    border-top-color: var(--blue);
}

.header__link {
    float: left;
    padding-top: 1.5rem
}

.header__link:hover {
    color: var(--blue);
}

.header__link--bold-blue {
    font-weight: bolder;
    color: var(--blue);
}

/* search bar style */
.search {
    display: flex;
}

.search__map-marker {
    background-color: var(--gray);
    border-radius: 0.5rem 0 0 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    border: thin solid var(--gray);
    border-left: none;
    border-right: none;
    font-size: 1.2rem;
    font-weight: bolder;
    height: 2.5rem;
    padding: 0.65rem;
    margin-bottom: 1.5rem;
}

.search__input--blue-button {
    color: white;
    background-color: var(--blue);
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    font-size: medium;
}

/* filter bar style */
.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter__label {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-right: 0.5rem;
}

.filter__button {
    margin-left: 1rem;
    height: 2.5rem;
    background-color: white;
    border: thin solid var(--gray);
    border-radius: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.filter__button:hover {
    background-color: var(--light-blue);
}

.filter__button-text {
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.filter__button-icon {
    color: var(--blue);
    background-color: var(--light-blue);
    font-size: 1rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* info icon */
.info {
    display: flex;
}

.info__icon {
    color: var(--blue);
    font-size: 0.75rem;
    border: thin solid var(--gray);
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

/* --------------------- */
/* lodging results style */
.lodging {
    background-color: #f2f2f2;
    padding: 2rem;
    border-radius: 10px;
    width: 60%;
}

.top-lodging {
    background-color: #f2f2f2;
    padding: 2rem;
    border-radius: 10px;
    width: 30%;
    float: right;
}

.lodging-results {
    width: 20%;
}

.top-lodging-results {
    width: 25%;
}

.lodging-results img {
    width: 100%;
}

.top-lodging-results img {
    width: 100%;
}